* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f9f8f5;
  color: #30373d;
}

a, a:hover, button, button:hover, i, i:hover {
  transition: all 0.5s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6, #cal-wrap * {
  font-family: 'Lato', sans-serif;
}

/* HEADER */
header {
  width: 1520px;
  max-width: 100%;
  padding: 30px 30px 10px;
  font-size: 20px;
  margin: 0 auto;
}
a {
  color: #2a506e;
}
a:hover{
  color: #595958;
}

/*.title_div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}*/

.settings, .go_to_my_itinerary, .go_to_search {
  margin: 0 auto;
  font-size: 20px;
}
.settings {
  font-size: 20px;
}

.main_title{
  color:#2a506e;
  text-align: left;
  font-weight: 300;
  line-height: 1;
  font-size: 3.3rem;
}
.secondary_title{
  font-size: 24px;
  color:#363c42;
  text-align:left;
  line-height: 1;
  font-style: italic;
}

/* BODY CONTENT */
main {  
    border-style: none;
    text-align: center;
    width: 1520px;
    max-width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

/*.left_column_div {
    border-style: none;
    width: 35%; 
    padding: 0px;
    float:left;
}*/
   
.sidebar-element {
  border-style: none;
  padding: 0px;
  text-align: left;
  margin: 0 20px 0 0;
}

.sidebar h3 {
    margin-top: 30px;
    color: #2a506e;
    font-weight: 700;
    font-size: 1.5rem;
}

.search-params, .trip-info {
  background-color: #edece9;
  padding: 20px 20px 12px;
  border-style: none;
  width: 100%; 
  text-align: left; 
}
label {
  font-size: 1.05rem;
  line-height: 1.1;
  color: #30373d;
}
input {
  background-color: #f9f8f5;
  border: 1px solid #cfcdcb;
  color: #626261;
  font-style: italic;
}
input:focus {
  border-color: #626261;
}
input.radio-input {
  margin-left: 10px;
}

.search-params h4 {
  color: #595958;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.3rem;
}

/*.map_div, .search-panel {
    border-style: none;
    width: 65%; 
    height: 100%;
    padding: 0px;
    float:left;
  }*/
  .map_div .intro-text {
    margin: 0 auto;
    display: inline-block;
  }
.map_div h2 {
  font-style: italic;
  font-weight: 300;
  line-height: 1;
    text-align:left;
    color:#2a506e;
}
  .map_text_2{
    padding-left:40px;
  }

  /*.map{
    width: 100%;
    margin-top:20px;
    margin-bottom:30px;
  }*/

  input[type="checkbox" i] {
    margin-bottom:10px;
  }

  textarea{
      width:90%;
  }

  button{
    background-color:#2a506e;
    color:#f9f8f5;
    min-width:30px;
    min-height: 30px;
    font-size:15px;
    font-weight:bold;
    border:none;
    text-align:center;
    border-radius:5px;
    padding: 10px;
  }
  button:hover {
    cursor: pointer;
    background-color: #395f7b;
  }

.explore{
  margin-right:0px;
  line-height: 1;
  color: #f9f8f5;
  border-radius: 15px;
  padding: 10px 15px 13px;
  font-style: italic;
  font-weight: 300;
}

.error-message {
  font-size: 2.2rem;
  color: #2a506e;
}
.required {
  color: #9f333d;
  font-style: italic;
}
.bold {
  font-weight: 700;
  font-style: normal;
}


        /*Hex Codes:
        #f9f8f5 - Light cream
        #edece9 - Cream
        #dbdad7 - Border
        #2a506e - Blue
        #363c42 - Darker text
        #595958 - Medium text

        Font Used on mockup:
        https://fonts.google.com/specimen/Lato?query=lato
        I used light, regular, regular italic, bold
        Feel free to use a different font from google fonts if you find it fits better!*/


.radio-select input {
    opacity: 0;
}
.radio-select input + label::after {
    content: none;
}
.radio-select input:checked + label::after {
    content: "";
}
.radio-select label {
    position: relative;
    left: 5px;
    line-height: 1.6;
}
.radio-select label::before {
    content: "";
    height: 22px;
    width: 22px;
    background: #f9f8f5;
    border: 1px solid #cfcdcb;
    position: absolute;
    left: -30px;
}
.radio-select label::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #2a506e;
    position: absolute;
    left: -25px;
    top: 5px;
}

/* SORTABLE STUFF */
.initial-place .cell {
  background-color: #2a506e;
  color: #f9f8f5;
  padding: 12px;
  width: 100%;
  margin: 2px 0;
  font-weight: 700;
  font-size: 1.2rem;
}
.itinerary-place .cell {
  background-color: #f9f8f5;
  color: #2a506e;
  border: 1px solid #dbdad7;
  padding: 12px;
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
}
.itinerary-place .small-2, .daily-estimate .small-2 {
  width: calc(16.66667% + 2px);
}
.delete-place {
  position: absolute;
  width: 42px;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.4rem;
  transform: rotate(0deg) scale(0);
  opacity: 0;
  background-color: transparent;
  color: #edece9;
}
.itinerary-place .delete-place {
  color: #2a506e;
}
.initial-place .saved-place .delete-place:hover {
  background-color: #2a506e;
  color: #f9f8f5;
}
.itinerary-place .saved-place .delete-place:hover {
  background-color: #f9f8f5;
  color: #9f333d;
}
.saved-place:hover .delete-place {
  transform: rotate(180deg) scale(1);
  opacity: 1;
}
.saved-place {
  position: relative;
}
.itinerary-table {
  padding: 20px;
  background-color: #edece9;
  height: auto;
  text-align: left;
  position: relative;
}
.table-titles div {
  background-color: #2a506e;
  color: #f9f8f5;
  padding: 10px;
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 1px 10px;
}

.trip-info h4 {
  color: #2a506e;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}
.trip-info p, .trip-info span {
  color: #363c42;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

.sortable{
  min-height: 40px;
  transition: all 0.3s ease-in-out;
}
.dropover, .dropover-active {
  transition: all 0.3s ease-in-out;
}
.dropover {
  background-color: #dbdad7;
}
.dropover-active {
  background-color: #c8c7c5;
}
.hide-time-cost .cost, .hide-time-cost .time {
  display: none;
}

.add-to-itinerary {
  background: none;
  color: #2a506e;
  padding: 0;
  font-size: 1.3rem;
  position: absolute;
  bottom: 15px;
}
.add-to-itinerary i {
  background-color: #2a506e;
  color: #f9f8f5;
  padding: 8px;
  border-radius: 8px;
  font-size: 1.4rem;
  margin: 0 8px 0 0;
}
.add-to-itinerary:hover {
  background: none;
  color: #595958;
}
.add-to-itinerary:hover i{
  background-color: #395f7b;
}

.estimate-label {
  text-align: right;
  color: #595958;
  font-style: italic;
  font-size: 1.2rem;
  padding: 12px;
}
.estimate-box {
  background: #f9f8f5;
  padding: 12px;
  border: 1px solid #2a506e;
  color: #2a506e;
  font-weight: 700;
  font-size: 1.3rem;
}


/* MAP STYLING */
.map {
  width: 100%;
  margin: 20px auto;
  height: 500px;
}
.ol-control button {
  background-color: rgba(42,80,110,0.5);
  color: #f9f8f5;
}
.ol-control button:hover {
  background-color: #2a506e;
}

/* CALENDAR */
.calendar {
  background: #f9f8f5;
  border: 1px solid #dedcda;
  margin: -10px 0;
  position: absolute;
}
#cal-wrap {
  width: 600px;
  max-width: calc(100% - 80px);
}
.calendar select, .calendar table {
  margin-bottom: 0;
}
#cal-mth, #cal-yr {
  font-size: 1em;
  line-height: 1;
  border-width: 1px;
  color: #585859;
}
#time-frame {
  margin: 0 0 1rem;
}
#time-frame input {
  margin: 0;
}
.date-to {
  margin: 0 5px 0;
}
#start-date-span {
  margin-left: 0;
}

/* CURRENCY STYLING */
.convert-tag {
  color: #595958;
  font-style: italic;
  font-size: 1.3rem;
  margin: 0 0 0 8px;
}
#current-budget p, #local-budget p {
  margin-bottom: 0.5rem;
}

/* SETTINGS */
.settings-iframe {
  border: 0;
  width: 100%;
  padding: 10px;
}
.settings-body {
  background-color: #f9f8f5;
  border: 0;
}
.setting-item {
  margin-top: 10px;
}
.setting-item button.clear-items {
  background-color: #9f333d;
}
.setting-item button.clear-items:hover {
  background-color: #8c2730;
}
.settings-body h2 {
  font-size: 2.7rem;
  color: #2a506e;
  font-weight: 300;
  margin: -10px 0 0;
}
.settings-body h3 {
  font-size: 1.6rem;
  color: #595958;
}
.settings-body button {
  border-radius: 6px;
  font-size: 1rem;
}
.close-button {
  color: #f9f8f5;
  line-height: 0.75;
  border-radius: 8px;
  margin: 5px 0 0 0;
}
.close-button:hover {
  color: #f9f8f5;
  background-color: #395f7b;
}

/* SEARCH RESULTS */
.search-result {
  padding: 20px 0;
}
.search-image {
  background-position: center;
  background-size: cover;
}
.search-panel {
  margin: 30px 0 0;
}
.search-panel h3 {
  font-size: 1.4rem;
  line-height: 1;
  font-style: italic;
  color: #595958;
}
.search-text {
  padding-left: 20px;
}
.search-text h2 {
  color: #2a506e;
  font-size: 2rem;
  font-weight: 700;
}
.search-text p.h6 {
  font-size: 0.95em;
  line-height: 1.1;
}
.search-text p.address {
  font-style: italic;
}

.hidden {
  display: none;
}


/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .map {
    height: 360px;
  }
}

@media screen and (max-width: 600px) {
  #calendar tr.head td {
    color: #f9f8f5;
    font-size: .8rem;
    padding: 5px;
  }
  .sidebar-element {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .title_buttons {
    padding-top: 20px;
    text-align: center;
  }
  main {
    padding: 0 20px;
  }
  .sidebar h3 {
    margin-top: 20px;
}
  .map_div .explore {
    float: none;
    margin: 10px auto;
    font-size: 2rem;
  }
  .mobile-center {
    text-align: center;
  }
  #cal-wrap {
    max-width: calc(100% - 50px);
  }
}